/* MenteesComponent.module.scss */

.menteesContainer {
  padding: 2% 3%;
  //   min-height: 100%;
  //   overflow-y: scroll;
  .header {
    font-size: 1.4rem;
    margin-bottom: 2%;
  }

  .searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 25px;
    .searchBar {
      width: 30%;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 1% 2%;
    }
    .searchButton {
      padding: 10px 20px;
      background-color: #0d30ac;
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .cardsContainer {
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2% 2% 0 2%;
    background-color: white;
    border-radius: 12px;
    min-height: 80%;
    .headerCard {
      width: 22vw;
      height: 14vh;
      padding: 1.5% 2%;
      border: 1px solid lightgray;
      margin: 10px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      //   padding: 10px;
      display: flex;
      margin-bottom: 3%;
      align-items: center;
      .button {
        border-color: black;
        font-weight: bold;
        border-radius: 20px;
        height: 4.5vh;
      }
      .card {
        display: flex;
        align-items: center;

        .menteeImage {
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          margin-right: 10px;
        }
        .menteeInfo {
          flex-grow: 1;
          .menteeName {
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
            color: #0d30ac;
          }

          .menteeRole {
            margin: 0;
          }
        }
      }
    }
  }
}
