// Table.module.scss

.tableContainer {
  width: 100%;
}

.tableBody {
  width: 100%;
  overflow-x: auto;
  // overflow: scroll;
}
.table {
  width: 100%;
  border-collapse: collapse;
  //   border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.table th,
.table td {
  padding: 5px 20px;
  text-align: left;
}
.table tr {
  height: 8vh;
}
.table th {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.table tbody td:first-child,
.table thead th:first-child {
  border-left: none;
}

.table tbody td:last-child,
.table thead th:last-child {
  border-right: none;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  // width: 120px;
  background-color: white;
  border: 1px solid #03ac;
  color: navy;
  text-align: center;
  padding: 1px 4px;
  border-radius: 3px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -30%; /* Place the tooltip above the button */
  // left: 50%;
  // margin-left: -20px; /* Use half of the width (120/2 = 60) to center the tooltip */
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  button {
    width: 6vw;
    height: 5vh;
    border: 1px solid lightgray;
    border-radius: 5px;
    &:hover {
      background-color: rgba(211, 211, 211, 0.352);
    }
  }
}

.btnTable {
  color: rgb(17, 41, 163);
}

.editPopup {
  position: absolute;
  right: 10%;
  border: 2px solid #03ac;
  background-color: white;
  padding: 1%;
  border-radius: 8px;
  p {
    font-weight: 500;
    // font-size: 1.2rem;
  }
  div {
    margin-top: 6%;
    button {
      height: 2vw;
      font-size: 0.9rem;
    }
  }
}
@media only screen and (max-width: 450px) {
  .pagination {
    button {
      width: 20vw;
      height: 8vw;
      margin: 2%;
    }
  }
}

@media only screen and (max-width: 390px) {
  .table th,
  .table td {
    font-size: 0.9rem;
  }
  .table tr {
    font-size: 0.9rem;
  }
  .table th {
    font-size: 0.9rem;
  }

  .pagination {
    button {
      font-size: 0.9rem;
    }
  }
}
