/* SetMeetingPage.module.scss */
.pageContainer {
  padding: 2% 3%;
  position: relative;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    font-size: 1.5rem;
  }
}
.buttons {
  justify-content: flex-end;
}

.meetingsContainer {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .meetingItem {
    width: 36vw;
    background-color: #ffffff;
    padding: 2% 2%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    .modalContainer {
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 1.2rem;
        text-align: right;
      }
    }
    .details {
      .meetingName {
        font-size: 1.2rem;
      }
      .meetingTime {
        margin-bottom: 10px;
        font-weight: 600;
        color: #666666;
      }

      .meetingDescription {
        color: #555555;
      }
    }
  }
  .completed {
    border-left: 6px solid #4caf50; /* Green border for completed meetings */
  }

  .pending {
    border-left: 6px solid #ffc107; /* Yellow border for pending meetings */
  }
}

/* Styles for meeting items */
.popupContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;

  .popup {
    min-width: 28vw;
    height: 80vh;
    // min-height: 60vh;
    background-color: white;
    border: 2px solid rgba(32, 52, 165, 0.671);
    border-radius: 8px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .header {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 2%;
    }
    .content {
      overflow-y: scroll;
      flex-grow: 1;
      .nameRow {
        display: flex;
        align-items: center;
        padding: 2%;
        border-radius: 10px;
        cursor: pointer;
        input {
          width: 1vw;
          height: 1vw;
        }
        .name1 {
          flex-grow: 1;
          width: 5vw;
          text-align: right;
        }
        .name {
          margin-right: 10px;
          min-width: 10vw;
          // white-space: nowrap;
          flex-grow: 1;
          margin-left: 3%;
        }
      }

      .nameRow:hover {
        background-color: rgba(211, 211, 211, 0.404);
      }
    }
    .footer {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.overlay {
  height: 100%;
  width: 100%;
  // background-color: rgba(5, 5, 5, 0.103);
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: 15%;
}
.modal1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.modal {
  .modalContent {
    min-width: 30vw;
    min-height: 10vw !important;
    background-color: white;
    border: 2px solid rgba(32, 52, 165, 0.671);
    border-radius: 8px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .header {
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 1.2rem;
      }
      svg {
        font-size: 1.6rem;
      }
      margin-bottom: 2%;
    }
    .modalBody {
      label {
        font-size: 1.1rem;
        font-weight: 500;
      }
      textarea {
        height: 14vh;
        border: 1px solid lightgray;
        border-radius: 10px;
        outline: none;
        padding: 2%;
        font-size: 1rem;
      }
    }
    button {
      min-width: 6vw;
    }
  }
}

.menteesAllocated {
  min-width: 10vw;
}

button {
  margin-left: 10px;
}

@media only screen and (max-width: 450px) {
  .pageHeader {
    h2 {
      font-size: 1.3rem;
    }
  }
  .buttons {
    justify-content: space-around;
    button {
      width: 40vw;
      height: 8vw;

      font-size: 0.9rem;
    }
    select {
      height: 8vw;
      font-size: 0.9rem;
    }
  }
  .meetingsContainer {
    .meetingItem {
      width: 100%;
      .details {
        .meetingTime {
          font-size: 0.9rem;
        }
      }
    }
    .completed .pending {
      font-size: 0.9rem;
    }
  }
  .overlay {
    padding-top: 30%;
  }
  .modal {
    .modalContent {
      width: 90vw;
      .header {
        h1 {
          font-size: 1.1rem;
        }
        svg {
          font-size: 1.5rem;
        }
      }
      .modalBody {
        label {
          font-size: 1rem;
        }
        textarea {
          height: 20vh;
          font-size: 1rem;
        }
      }
      button {
        font-size: 0.9rem;
        height: 8vw;
      }
    }
  }
  .popupContainer {
    .popup {
      width: 90vw;
      .header {
        font-size: 1.3rem;
      }
      .content {
        .nameRow {
          input {
            width: 3vw;
            height: 3vw;
          }
          .name1 {
            font-size: 1rem;
          }
          .name {
            font-size: 1rem;
          }
        }
      }
      .footer {
        margin-top: 15px;
        button {
          height: 8vw;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .pageHeader {
    h2 {
      font-size: 1.2rem;
    }
  }

  .meetingsContainer {
    .meetingItem {
      .modalContainer {
        h2 {
          font-size: 1rem;
        }
      }
      .details {
        .meetingName {
          font-size: 1rem;
        }
        .meetingTime {
          font-size: 0.9rem;
        }
        .meetingDescription {
          font-size: 0.9rem;
        }
      }
    }
  }
  .modal {
    .modalContent {
      .header {
        h1 {
          font-size: 1rem;
        }
      }
      .modalBody {
        textarea {
          height: 20vh;
          font-size: 1rem;
        }
      }
    }
  }
  .popupContainer {
    .popup {
      div {
        select {
          font-size: 0.9rem;
        }
      }
      .header {
        font-size: 1.3rem;
      }
      .content {
        .nameRow {
          .name1 {
            font-size: 0.9rem;
          }
          .name {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
